/* font-family: "ArsenalRegular"; */
@font-face {
    font-family: "ArsenalRegular";
    src: url("../fonts/Arsenal/ArsenalRegular/ArsenalRegular.eot");
    src: url("../fonts/Arsenal/ArsenalRegular/ArsenalRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arsenal/ArsenalRegular/ArsenalRegular.woff") format("woff"),
    url("../fonts/Arsenal/ArsenalRegular/ArsenalRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArsenalItalic"; */
@font-face {
    font-family: "ArsenalItalic";
    src: url("../fonts/Arsenal/ArsenalItalic/ArsenalItalic.eot");
    src: url("../fonts/Arsenal/ArsenalItalic/ArsenalItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arsenal/ArsenalItalic/ArsenalItalic.woff") format("woff"),
    url("../fonts/Arsenal/ArsenalItalic/ArsenalItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArsenalBold"; */
@font-face {
    font-family: "ArsenalBold";
    src: url("../fonts/Arsenal/ArsenalBold/ArsenalBold.eot");
    src: url("../fonts/Arsenal/ArsenalBold/ArsenalBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arsenal/ArsenalBold/ArsenalBold.woff") format("woff"),
    url("../fonts/Arsenal/ArsenalBold/ArsenalBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArsenalBoldItalic"; */
@font-face {
    font-family: "ArsenalBoldItalic";
    src: url("../fonts/Arsenal/ArsenalBoldItalic/ArsenalBoldItalic.eot");
    src: url("../fonts/Arsenal/ArsenalBoldItalic/ArsenalBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arsenal/ArsenalBoldItalic/ArsenalBoldItalic.woff") format("woff"),
    url("../fonts/Arsenal/ArsenalBoldItalic/ArsenalBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArsenalRegular"; */


/* font-family: "ClearSansRegular"; */
@font-face {
    font-family: "ClearSansRegular";
    src: url("../fonts/ClearSansRegular/ClearSansRegular.eot");
    src: url("../fonts/ClearSansRegular/ClearSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansRegular/ClearSansRegular.woff") format("woff"),
    url("../fonts/ClearSansRegular/ClearSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansBold"; */
@font-face {
    font-family: "ClearSansBold";
    src: url("../fonts/ClearSansBold/ClearSansBold.eot");
    src: url("../fonts/ClearSansBold/ClearSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansBold/ClearSansBold.woff") format("woff"),
    url("../fonts/ClearSansBold/ClearSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ClearSansLight"; */
@font-face {
    font-family: "ClearSansLight";
    src: url("../fonts/ClearSansLight/ClearSansLight.eot");
    src: url("../fonts/ClearSansLight/ClearSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansLight/ClearSansLight.woff") format("woff"),
    url("../fonts/ClearSansLight/ClearSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansMedium"; */
@font-face {
    font-family: "ClearSansMedium";
    src: url("../fonts/ClearSansMedium/ClearSansMedium.eot");
    src: url("../fonts/ClearSansMedium/ClearSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansMedium/ClearSansMedium.woff") format("woff"),
    url("../fonts/ClearSansMedium/ClearSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "AgoraSansProMedium";
    src: url("../fonts/AgoraSansProMedium/AgoraSansProMedium.eot");
    src: url("../fonts/AgoraSansProMedium/AgoraSansProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProMedium/AgoraSansProMedium.woff") format("woff"),
    url("../fonts/AgoraSansProMedium/AgoraSansProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "AgoraSansProRegular"; */
@font-face {
    font-family: "AgoraSansProRegular";
    src: url("../fonts/AgoraSansProRegular/AgoraSansProRegular.eot");
    src: url("../fonts/AgoraSansProRegular/AgoraSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProRegular/AgoraSansProRegular.woff") format("woff"),
    url("../fonts/AgoraSansProRegular/AgoraSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}